---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
classes: wide
---

{% include base_path %}

<div class="portfolio-grid">
  {% assign items = site.portfolio | sort: "date" | reverse %}
  {% for post in items %}
    <div class="portfolio-item">
      <h2 class="portfolio-item-title">{{ post.title }}</h2>

      {% if post.media %}
        <div class="portfolio-media">
          {{ post.media }}
        </div>
      {% endif %}

      {% if post.description %}
        <p class="portfolio-item-excerpt">{{ post.description }}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>
